@import "abstracts/variables";
@import "base/base";

@import "layout/msg";
@import "layout/header";
@import "layout/navbar";
@import "layout/links";
@import "layout/cats";

@import "components/form";

.main{
    margin-left: 25%;
    display: grid;
    grid-template-rows: 12rem auto;
    height: 100%;
}

.box{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & *{
        transition: all 0.5s;
    }
}