.date{
    color: color(aux2);
    margin-bottom: 0.5em;

    p{
        span{
            display: none;
            position: relative;
            left: -5em;
            opacity: 0;
        }

        &:hover{
            & span{
                display: inline;
                left: 0.5em;
                opacity: 1;
            }
        }
    }
}