// Fecha del link

.date{
    color: color(aux2);
    margin-bottom: size(xs);

    p{
        span{
            display: none;
            position: relative;
            left: -5rem;
            opacity: 0;
        }

        &:hover{
            & span{
                display: inline;
                left: size(xs);
                opacity: 1;
            }
        }
    }
}