// Nombre de la carpeta

.folder-title{
    width: 100%;
    @include flexbox($wrap: wrap);
    margin-right: auto;
    margin-left: size(xl);

    .icon-folder-open{
        font-size: size(xl);
        color: color(primary);
        margin-right: size(s);
    }

    h3{
        font-size: size(l);
        width: fit-content;
        margin: 0;

        &:hover + .delete{
            visibility: visible;
        }
    }

    .delete{
        visibility: hidden;
        margin-left: size(m);
        padding-top: size(xs);

        .icon-trash{
            width: 100%;
            font-size: 1.75rem;
            color: darken(color(aux2), 5%);
            cursor: pointer;
            transition: all 0.2s;
    
            &:hover{
                color: darken(color(primary), 15%);
                font-size: size(ml);
            }
        }

        &:hover{ visibility: visible; }
        @include response(md){ visibility: visible; }
    }
}