// Botones de edición y borrado de un link

.functions{
    width:100%;
    border-top: 1px dashed color(aux2);
    padding-top: size(xs);

    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-gap: size(s);

    text-decoration: none;

    .icon-edit,
    .icon-delete{
        font-size: 2.75rem;
        margin: size(xs);
        transition: all 0.3s;
    }

    .edit{
        grid-column: 1/2;
        @include flexbox();

        .icon-edit{
            color: lighten(color(aux2), 20%);
            &:hover{ color:color(secondary); }
        }
    }

    .delete{
        grid-column: 3/4;
        @include flexbox($justify: flex-end);

        .icon-delete{
            color: darken(color(primary), 3%);
            &:hover{ color: darken(color(primary),15%) }
            @include response(md){ color: darken(color(primary),15%); }
        }
    }
    
    .desc{
        grid-column: 2/3;
        margin: auto;
        padding: 0 size(s);
        height: size(xl);
        overflow-y: scroll;
        word-break: break-all;
    }
}