.link{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    border: 4px solid white; 
    border-radius: 2em;
    background-color: color(prim-mod);
    margin: 1em; 
    padding: 1em;

    &:hover{
        border: 3px solid color(prim-mod); 
        background-color: color(aux1);
    }

    @import "./title";
    @import "./date";
    @import "./functions";
}