// Vista en caso de no existir links guardados

.nolinks{
    grid-column: 1/4;
    text-align: center;
    color: color(aux2);

    h4{
        font-size: size(xxxl);
        font-weight: width(light);
        margin-bottom: size(xxxl);
        
        span{
            font-weight: width(regular);
            color: darken(color(aux2), 50%);
        }
    }

    a{
        font-size: size(l);
        color: color(secondary);
        background-color: color(tertiary);
        padding: size(s) size(ml);
        border-radius: size(l);
        box-shadow: 0 5px 15px color(aux2);
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            background-color: color(primary);
            box-shadow: 0 15px 20px color(tertiary);
            color: #fff;
            transform: translateY(-20px);
        }
    }
}