// Título del link

.title{
    width: 100%;
    text-decoration: none;
    color: color(secondary);

    h3{
        width: 100%;
        font-weight: width(medium);
        text-align: center;
        margin: 0;
        font-size: size(l);
        transition: all 0.2s;
    }

    &:hover{ color: color(primary); }
}