// Sección para las carpetas del menú de navegación

.folders{
    border-top: 2px solid color(secondary);
    border-bottom: 2px solid color(secondary);
    padding: size(xs) 0;
    background-color: color(primary);
    box-shadow: 0 0 15px 5px white;
    color: white;

    li a.folder{
        @include flexbox($align: center);
        padding: size(s) size(xl);
        background: linear-gradient(to left, color(primary) 50%, lighten(color(secondary), 15%) 50%) right;
        background-size: 200%;

        .icon-folder{
            margin-right: size(ml);
            color: color(prim-mod);
        }

        form{
            margin-left: auto;
            visibility: hidden;

            button{
                font-size: size(xl);
                margin-left: auto;

                &:hover{
                    animation:spin 0.25s linear;
                    color:darken(color(primary), 20%);
                }
            }

            @include response(md){ visibility: visible; }
        }
        
        &:hover{
            background-position: left;
            form{ visibility: visible; }
        } 
    }

    .create{
        cursor:auto;
        padding: size(ml) size(xxxl);
        background-color: lighten(color(primary), 5%);

        &:hover input:not(:focus){
            color: white;
            &::placeholder{ color: white; }
        }

        form{
            width: 100%;
            height: size(xxl);
            @include flexbox($wrap:wrap, $align:center);

            input{
                width: 75%;
                border: none;
                outline: none;
                height: 100%;
                background-color: inherit;
                padding: size(xs);
                font-size: inherit;

                &:focus{
                    background-color: color(tertiary);
                    & + button{ visibility: visible; }
                }
            }

            button{
                font-size: size(xl);
                margin-left: auto;

                .icon-check{
                    color: color(secondary);
                    background-color: color(prim-mod);
                    padding: 0.25rem 0.75rem;
                    border-radius: 50%;
                    transition: all 0.3s ease;

                    &:hover{
                        color: color(prim-mod);
                        background-color: color(primary);
                        box-shadow: 0 0 15px 10px color(tertiary);
                    }
                }
            }
        }
        
    }

}

@keyframes spin { 100% { transform:rotate(90deg); } }