// Enlace para cerrar sesión del menú de navegación

.logout{
    position: fixed;
    bottom: 0;
    width:25%;
    @include flexbox($align:flex-end);
    
    z-index: 1000;
    transition: all 0.5s ease;

    a{
        width: 100%;
        height: 100%;
        display: block;
        color: #000;
        background: linear-gradient(to left, color(prim-mod) 50%, color(aux2) 50%) right;
        background-size: 200%;
        font-size: size(ml);
        padding: size(ml) size(xxxl);
        transition: all 0.5s ease;

        &:hover { color: white; background-position: left; }
    }

    div{
        height: 8rem;
        width: 100%;
        background-color: color(tertiary);
    }

    @include response(md){
        width: 100vw;
        text-align: center;
        left: -100vw;
        transition: all 0.6s ease;
    }
}