<div class="box">
    <div class="error">
        <h4>
            <span class="icon-filex">
                <i class="fa-solid fa-file-circle-xmark"></i>
            </span>
            ¡Página no encontrada!
        </h4>
        <a href="/">Volver al inicio</a>
    </div>
</div>