@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* paleta de colores */
:root {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body,
html {
  height: 100%;
  width: 100vw; }

body {
  background-color: #f1f1f1;
  font-size: 1.2rem; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

.main {
  margin-left: 25%;
  display: grid;
  grid-template-rows: 12rem auto;
  height: 100%;
  overflow-x: hidden; }
  @media (max-widtH: 920px) {
    .main {
      margin-left: 0; } }

.box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }

.msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; }
  .msg .msg-ok::before,
  .msg .msg-fail::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    animation: leftright 3.5s ease-in-out; }
  .msg .msg-ok .msg-text,
  .msg .msg-fail .msg-text {
    opacity: 0;
    z-index: -100;
    color: white;
    font-weight: 100;
    text-align: center;
    font-size: 8rem;
    animation: fadeinout 3.5s ease-in-out; }
    @media (max-widtH: 920px) {
      .msg .msg-ok .msg-text,
      .msg .msg-fail .msg-text {
        font-size: 5rem; } }
  .msg .msg-ok::before {
    background-color: rgba(51, 194, 29, 0.75); }
  .msg .msg-ok .icon-check {
    color: rgba(16, 61, 9, 0.75); }
  .msg .msg-fail::before {
    background-color: rgba(194, 29, 29, 0.75); }
  .msg .msg-fail .icon-xmark {
    color: rgba(61, 9, 9, 0.75); }

@keyframes leftright {
  0% {
    transform: scaleX(0);
    transform-origin: left; }
  35% {
    transform: scaleX(1);
    transform-origin: left; }
  36% {
    transform-origin: right; }
  100% {
    transform: scaleX(0);
    transform-origin: right; } }

@keyframes fadeinout {
  0% {
    opacity: 0;
    z-index: 100; }
  35% {
    opacity: 1; }
  100% {
    opacity: 0; } }

header {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem; }
  header h1 {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #F69094;
    text-shadow: 1px 1px 1px #754547; }
    header h1 a {
      transition: all 0.2s ease-in-out; }
      header h1 a:hover {
        font-size: 4.5rem;
        color: #ffa2a4; }
    header h1 span {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      color: #754547;
      word-spacing: 1px;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 300;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-gap: 2rem;
      align-items: center; }
      header h1 span:before, header h1 span:after {
        content: " ";
        display: block;
        border-bottom: 1px solid #b1b1b1;
        border-top: 1px solid #b1b1b1;
        height: 0.5rem;
        background-color: #f1f1f1; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  box-shadow: 0 0 30px -5px #754547; }
  nav .burger {
    position: absolute; }
  nav ul {
    height: 90%;
    list-style-type: none;
    background-color: #F7DBDC;
    overflow: scroll; }
    nav ul li a,
    nav ul li div {
      display: block;
      color: #000;
      font-size: 1.5em;
      padding: 1em 2em;
      text-decoration: none;
      transition: all 0.5s ease; }
      nav ul li a:hover,
      nav ul li div:hover {
        color: white; }
      nav ul li a.newlink,
      nav ul li div.newlink {
        background: linear-gradient(to left, #ffd5d6 50%, black 50%) right;
        background-size: 200%;
        border-bottom: solid 2px #754547;
        box-shadow: 0 0 15px 5px white;
        font-weight: 600;
        transition: all 0.5s ease; }
        nav ul li a.newlink:hover,
        nav ul li div.newlink:hover {
          background-position: left; }
    nav ul li.title {
      display: none; }
    nav ul > li:not(.title) {
      transition: all 0.5s ease;
      background: linear-gradient(to left, #F7DBDC 50%, #754547 50%) right;
      background-size: 200%; }
      nav ul > li:not(.title):hover {
        background-position: left; }
    nav ul .folders {
      border-top: 2px solid #754547;
      border-bottom: 2px solid #754547;
      padding: 0.5em 0;
      background-color: #F69094;
      box-shadow: 0 0 15px 5px white;
      color: white; }
      nav ul .folders li a.folder {
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        background: linear-gradient(to left, #F69094 50%, #a36366 50%) right;
        background-size: 200%; }
        nav ul .folders li a.folder .icon-folder {
          margin-right: 1em;
          color: #ffd5d6; }
        nav ul .folders li a.folder form {
          margin-left: auto;
          visibility: hidden; }
          nav ul .folders li a.folder form button {
            font-size: 1.5em;
            margin-left: auto; }
            nav ul .folders li a.folder form button:hover {
              animation: spin 0.25s linear;
              color: #ee3239; }
          @media (max-widtH: 920px) {
            nav ul .folders li a.folder form {
              visibility: visible; } }
        nav ul .folders li a.folder:hover {
          background-position: left; }
          nav ul .folders li a.folder:hover form {
            visibility: visible; }
      nav ul .folders .create {
        cursor: auto;
        padding: 1em 2em;
        background-color: #f8a8ab; }
        nav ul .folders .create:hover input:not(:focus) {
          color: white; }
          nav ul .folders .create:hover input:not(:focus)::placeholder {
            color: white; }
        nav ul .folders .create form {
          width: 100%;
          height: 2em;
          display: flex;
          flex-flow: row wrap;
          align-items: center; }
          nav ul .folders .create form input {
            width: 75%;
            border: none;
            outline: none;
            height: 100%;
            background-color: inherit;
            padding: 0.5em;
            font-size: inherit; }
            nav ul .folders .create form input:focus {
              background-color: #F7DBDC; }
              nav ul .folders .create form input:focus + button {
                visibility: visible; }
          nav ul .folders .create form button {
            font-size: 1.5em;
            margin-left: auto; }
            nav ul .folders .create form button .icon-check {
              color: #754547;
              background-color: #ffd5d6;
              padding: 0.25rem 0.75rem;
              border-radius: 50%;
              transition: all 0.3s ease; }
              nav ul .folders .create form button .icon-check:hover {
                color: #ffd5d6;
                background-color: #F69094;
                box-shadow: 0 0 15px 10px #F7DBDC; }

@keyframes spin {
  100% {
    transform: rotate(90deg); } }
  nav .logout {
    position: fixed;
    bottom: 0;
    width: 25%;
    z-index: 1000;
    background: linear-gradient(to left, #ffd5d6 50%, #756869 50%) right;
    background-size: 200%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease; }
    nav .logout a {
      width: 100%;
      height: 100%;
      display: block;
      color: #000;
      font-size: 1.5em;
      padding: 1em 2em;
      transition: all 0.5s ease; }
      nav .logout a:hover {
        color: white; }
    nav .logout div {
      height: 100%;
      width: 100%;
      background-color: #F7DBDC;
      padding: 3em; }
    nav .logout:hover {
      background-position: left; }
    @media (max-widtH: 920px) {
      nav .logout {
        width: 100vw;
        text-align: center;
        left: -100vw;
        transition: all 0.6s ease; } }
  @media (max-widtH: 920px) {
    nav {
      width: 100vw;
      text-align: center;
      top: -100vh;
      transition: all 0.8s ease; }
      nav ul li.title {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #754547; }
        nav ul li.title h2 {
          font-size: 3rem;
          letter-spacing: 1px;
          font-weight: 500;
          color: #ffd5d6;
          text-shadow: 1px 1px 1px #F69094; } }

.folder-title {
  width: 100%;
  margin-right: auto;
  margin-left: 3rem;
  display: flex;
  flex-flow: row wrap; }
  .folder-title .icon-folder-open {
    font-size: 3rem;
    color: #F69094;
    margin-right: 1rem; }
  .folder-title h3 {
    font-size: 2.5rem;
    width: fit-content;
    margin: 0; }
    .folder-title h3:hover + .delete {
      visibility: visible; }
  .folder-title .delete {
    visibility: hidden;
    margin-left: 1.5rem;
    padding-top: 0.5rem; }
    .folder-title .delete .icon-trash {
      width: 100%;
      font-size: 1.75rem;
      color: #685c5d;
      cursor: pointer;
      transition: all 0.2s; }
      .folder-title .delete .icon-trash:hover {
        color: #f04950;
        font-size: 2rem; }
    .folder-title .delete:hover {
      visibility: visible; }
    @media (max-widtH: 920px) {
      .folder-title .delete {
        visibility: visible; } }

.alllinks {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .alllinks .link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 4px solid white;
    border-radius: 2rem;
    background-color: #ffd5d6;
    margin: 1rem;
    padding: 1rem; }
    .alllinks .link:hover {
      border: 3px solid #ffd5d6;
      background-color: #f1f1f1; }
    .alllinks .link .title {
      width: 100%;
      text-decoration: none;
      color: #754547; }
      .alllinks .link .title h3 {
        width: 100%;
        font-weight: 500;
        text-align: center;
        margin: 0;
        font-size: 2em;
        transition: all 0.2s; }
      .alllinks .link .title:hover {
        color: #F69094; }
    .alllinks .link .date {
      color: #756869;
      margin-bottom: 0.5rem; }
      .alllinks .link .date p span {
        display: none;
        position: relative;
        left: -5rem;
        opacity: 0; }
      .alllinks .link .date p:hover span {
        display: inline;
        left: 0.5rem;
        opacity: 1; }
    .alllinks .link .functions {
      width: 100%;
      border-top: 1px dashed #756869;
      padding-top: 0.5rem;
      display: grid;
      grid-template-columns: 10% 70% 10%;
      grid-gap: 1rem;
      text-decoration: none; }
      .alllinks .link .functions .icon-edit,
      .alllinks .link .functions .icon-delete {
        font-size: 2.75rem;
        margin: 0.5rem;
        transition: all 0.3s; }
      .alllinks .link .functions .edit {
        grid-column: 1/2;
        display: flex; }
        .alllinks .link .functions .edit .icon-edit {
          color: #a79c9d; }
          .alllinks .link .functions .edit .icon-edit:hover {
            color: #754547; }
      .alllinks .link .functions .delete {
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end; }
        .alllinks .link .functions .delete .icon-delete {
          color: #ff000066; }
          .alllinks .link .functions .delete .icon-delete:hover {
            color: #f04950; }
          @media (max-widtH: 920px) {
            .alllinks .link .functions .delete .icon-delete {
              color: #f04950; } }
      .alllinks .link .functions .desc {
        grid-column: 2/3;
        margin: auto;
        padding: 0 1rem;
        height: 3rem;
        overflow-y: scroll;
        word-break: break-all; }
  .alllinks .nolinks {
    grid-column: 1/4;
    text-align: center;
    color: #756869; }
    .alllinks .nolinks h4 {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 1em; }
      .alllinks .nolinks h4 span {
        font-weight: 400;
        color: black; }
    .alllinks .nolinks a {
      font-size: 2em;
      color: #754547;
      background-color: #F7DBDC;
      padding: 0.5em 1em;
      border-radius: 1.2em;
      box-shadow: 0 5px 15px #756869;
      cursor: pointer;
      transition: all 0.5s; }
      .alllinks .nolinks a:hover {
        background-color: #F69094;
        box-shadow: 0 15px 20px #F7DBDC;
        color: #fff;
        transform: translateY(-20px); }
  @media (max-widtH: 920px) {
    .alllinks {
      display: flex;
      flex-flow: column; } }

.cat {
  width: 100%;
  height: 20rem;
  margin: 1rem 0; }
  .cat .cat-links {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 75vw; }
    @media (max-widtH: 920px) {
      .cat .cat-links {
        width: 100vw; } }
  .cat .inline {
    display: inline-block;
    width: 25rem; }
    .cat .inline .link {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      border: 4px solid white;
      border-radius: 2rem;
      background-color: #ffd5d6;
      margin: 1rem;
      padding: 1rem; }
      .cat .inline .link:hover {
        border: 3px solid #ffd5d6;
        background-color: #f1f1f1; }
      .cat .inline .link .title {
        width: 100%;
        text-decoration: none;
        color: #754547; }
        .cat .inline .link .title h3 {
          width: 100%;
          font-weight: 500;
          text-align: center;
          margin: 0;
          font-size: 2em;
          transition: all 0.2s; }
        .cat .inline .link .title:hover {
          color: #F69094; }
      .cat .inline .link .date {
        color: #756869;
        margin-bottom: 0.5rem; }
        .cat .inline .link .date p span {
          display: none;
          position: relative;
          left: -5rem;
          opacity: 0; }
        .cat .inline .link .date p:hover span {
          display: inline;
          left: 0.5rem;
          opacity: 1; }
      .cat .inline .link .functions {
        width: 100%;
        border-top: 1px dashed #756869;
        padding-top: 0.5rem;
        display: grid;
        grid-template-columns: 10% 70% 10%;
        grid-gap: 1rem;
        text-decoration: none; }
        .cat .inline .link .functions .icon-edit,
        .cat .inline .link .functions .icon-delete {
          font-size: 2.75rem;
          margin: 0.5rem;
          transition: all 0.3s; }
        .cat .inline .link .functions .edit {
          grid-column: 1/2;
          display: flex; }
          .cat .inline .link .functions .edit .icon-edit {
            color: #a79c9d; }
            .cat .inline .link .functions .edit .icon-edit:hover {
              color: #754547; }
        .cat .inline .link .functions .delete {
          grid-column: 3/4;
          display: flex;
          justify-content: flex-end; }
          .cat .inline .link .functions .delete .icon-delete {
            color: #ff000066; }
            .cat .inline .link .functions .delete .icon-delete:hover {
              color: #f04950; }
            @media (max-widtH: 920px) {
              .cat .inline .link .functions .delete .icon-delete {
                color: #f04950; } }
        .cat .inline .link .functions .desc {
          grid-column: 2/3;
          margin: auto;
          padding: 0 1rem;
          height: 3rem;
          overflow-y: scroll;
          word-break: break-all; }

.error {
  grid-column: 1/4;
  text-align: center;
  color: #756869; }
  .error h4 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em; }
    .error h4 .icon-filex {
      color: #756869; }
  .error a {
    font-size: 2em;
    color: #754547;
    background-color: #F7DBDC;
    padding: 0.5em 1em;
    border-radius: 1.2em;
    box-shadow: 0 5px 15px #756869;
    cursor: pointer;
    transition: all 0.5s; }
    .error a:hover {
      background-color: #F69094;
      box-shadow: 0 15px 20px #F7DBDC;
      color: #fff;
      transform: translateY(-20px); }

.login h3,
.register h3,
.addlink h3,
.editlink h3,
.profile h3 {
  width: 50%;
  text-align: left;
  margin-left: 3em;
  font-size: 2.5rem; }
  @media (max-widtH: 920px) {
    .login h3,
    .register h3,
    .addlink h3,
    .editlink h3,
    .profile h3 {
      width: 70%;
      margin: 0;
      text-align: center;
      display: inline-block; } }
  .login h3 .msg-side,
  .register h3 .msg-side,
  .addlink h3 .msg-side,
  .editlink h3 .msg-side,
  .profile h3 .msg-side {
    display: inline-block;
    font-weight: 300;
    font-size: 0.7em;
    margin: 0; }
    .login h3 .msg-side.ok,
    .register h3 .msg-side.ok,
    .addlink h3 .msg-side.ok,
    .editlink h3 .msg-side.ok,
    .profile h3 .msg-side.ok {
      color: rgba(51, 194, 29, 0.75); }
    .login h3 .msg-side.fail,
    .register h3 .msg-side.fail,
    .addlink h3 .msg-side.fail,
    .editlink h3 .msg-side.fail,
    .profile h3 .msg-side.fail {
      color: rgba(194, 29, 29, 0.75); }
    .login h3 .msg-side .icon-exclamation, .login h3 .msg-side .icon-check,
    .register h3 .msg-side .icon-exclamation,
    .register h3 .msg-side .icon-check,
    .addlink h3 .msg-side .icon-exclamation,
    .addlink h3 .msg-side .icon-check,
    .editlink h3 .msg-side .icon-exclamation,
    .editlink h3 .msg-side .icon-check,
    .profile h3 .msg-side .icon-exclamation,
    .profile h3 .msg-side .icon-check {
      font-size: 0.9em; }
    .login h3 .msg-side .icon-exclamation,
    .register h3 .msg-side .icon-exclamation,
    .addlink h3 .msg-side .icon-exclamation,
    .editlink h3 .msg-side .icon-exclamation,
    .profile h3 .msg-side .icon-exclamation {
      color: rgba(105, 16, 16, 0.75); }
    .login h3 .msg-side .icon-check,
    .register h3 .msg-side .icon-check,
    .addlink h3 .msg-side .icon-check,
    .editlink h3 .msg-side .icon-check,
    .profile h3 .msg-side .icon-check {
      color: rgba(28, 105, 16, 0.75); }

.login form,
.register form,
.addlink form,
.editlink form,
.profile form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .login form .input,
  .register form .input,
  .addlink form .input,
  .editlink form .input,
  .profile form .input {
    display: block;
    width: 50%; }
    .login form .input input,
    .register form .input input,
    .addlink form .input input,
    .editlink form .input input,
    .profile form .input input {
      border: 2px solid black;
      border-radius: 4em;
      padding: 0 3em;
      margin: 0.5em auto;
      width: 100%;
      align-self: center;
      height: 10rem;
      font-size: 2rem;
      text-align: center;
      transition: all 0.3s ease; }
      .login form .input input::placeholder,
      .register form .input input::placeholder,
      .addlink form .input input::placeholder,
      .editlink form .input input::placeholder,
      .profile form .input input::placeholder {
        font-size: 2.5rem;
        color: #754547; }
      .login form .input input:focus,
      .register form .input input:focus,
      .addlink form .input input:focus,
      .editlink form .input input:focus,
      .profile form .input input:focus {
        outline: 0.5em solid #d2b4b5;
        border-color: #756869;
        background-color: #fcf0f0; }
        .login form .input input:focus::placeholder,
        .register form .input input:focus::placeholder,
        .addlink form .input input:focus::placeholder,
        .editlink form .input input:focus::placeholder,
        .profile form .input input:focus::placeholder {
          font-size: 2rem;
          text-shadow: none;
          color: #756869; }
    @media (max-widtH: 920px) {
      .login form .input,
      .register form .input,
      .addlink form .input,
      .editlink form .input,
      .profile form .input {
        width: 75%; } }
  .login form .btn,
  .register form .btn,
  .addlink form .btn,
  .editlink form .btn,
  .profile form .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin: 1em 0; }
    @media (max-widtH: 920px) {
      .login form .btn,
      .register form .btn,
      .addlink form .btn,
      .editlink form .btn,
      .profile form .btn {
        flex-flow: column; } }
    .login form .btn .select,
    .register form .btn .select,
    .addlink form .btn .select,
    .editlink form .btn .select,
    .profile form .btn .select {
      border-radius: 1.5rem;
      border: none;
      background-color: #d8d8d8;
      margin-right: auto;
      margin-left: 3rem;
      width: 25%;
      height: 100%;
      font-size: 1.5em;
      text-align: center;
      cursor: pointer; }
      @media (max-widtH: 920px) {
        .login form .btn .select,
        .register form .btn .select,
        .addlink form .btn .select,
        .editlink form .btn .select,
        .profile form .btn .select {
          margin: 0 auto 1rem auto;
          padding: 2rem;
          width: 50%; } }
    .login form .btn button,
    .register form .btn button,
    .addlink form .btn button,
    .editlink form .btn button,
    .profile form .btn button {
      position: relative;
      margin: auto;
      padding: 1.5rem 2rem;
      transition: all 0.3s ease; }
      .login form .btn button:before,
      .register form .btn button:before,
      .addlink form .btn button:before,
      .editlink form .btn button:before,
      .profile form .btn button:before {
        content: "";
        position: absolute;
        top: 0.75rem;
        left: 0;
        display: block;
        border-radius: 5rem;
        background: #F69094;
        width: 4.5rem;
        height: 4.5rem;
        transition: all 0.5s ease; }
        @media (max-widtH: 920px) {
          .login form .btn button:before,
          .register form .btn button:before,
          .addlink form .btn button:before,
          .editlink form .btn button:before,
          .profile form .btn button:before {
            width: 100%; } }
      .login form .btn button span,
      .register form .btn button span,
      .addlink form .btn button span,
      .editlink form .btn button span,
      .profile form .btn button span {
        text-transform: uppercase;
        position: relative;
        font-size: 2.5rem;
        font-weight: 500; }
        @media (max-widtH: 920px) {
          .login form .btn button span,
          .register form .btn button span,
          .addlink form .btn button span,
          .editlink form .btn button span,
          .profile form .btn button span {
            color: white; } }
      .login form .btn button svg,
      .register form .btn button svg,
      .addlink form .btn button svg,
      .editlink form .btn button svg,
      .profile form .btn button svg {
        position: relative;
        top: -0.4rem;
        margin-left: 2rem;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #F69094;
        stroke-width: 2;
        transform: translateX(-1.5rem);
        transition: all 0.4s ease; }
        @media (max-widtH: 920px) {
          .login form .btn button svg,
          .register form .btn button svg,
          .addlink form .btn button svg,
          .editlink form .btn button svg,
          .profile form .btn button svg {
            transform: translateX(0);
            stroke: #F7DBDC; } }
      .login form .btn button:hover::before,
      .register form .btn button:hover::before,
      .addlink form .btn button:hover::before,
      .editlink form .btn button:hover::before,
      .profile form .btn button:hover::before {
        width: 100%; }
      .login form .btn button:hover span,
      .register form .btn button:hover span,
      .addlink form .btn button:hover span,
      .editlink form .btn button:hover span,
      .profile form .btn button:hover span {
        color: white; }
      .login form .btn button:hover svg,
      .register form .btn button:hover svg,
      .addlink form .btn button:hover svg,
      .editlink form .btn button:hover svg,
      .profile form .btn button:hover svg {
        transform: translateX(0);
        stroke: #F7DBDC; }
      .login form .btn button:active,
      .register form .btn button:active,
      .addlink form .btn button:active,
      .editlink form .btn button:active,
      .profile form .btn button:active {
        transform: scale(0.9); }
    @media (max-widtH: 920px) {
      .login form .btn,
      .register form .btn,
      .addlink form .btn,
      .editlink form .btn,
      .profile form .btn {
        width: 75%; } }

.modal {
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 2rem; }
  .modal h4 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem; }
    .modal h4 strong {
      font-weight: 700; }
  .modal p {
    font-size: 1.5rem;
    color: #756869;
    margin-bottom: 4rem; }
  .modal div {
    width: 100%;
    display: flex;
    justify-content: center; }
    @media (max-widtH: 920px) {
      .modal div {
        flex-wrap: wrap; } }
    .modal div .delete,
    .modal div .cancel {
      margin: 0 2rem;
      width: 30%; }
      @media (max-widtH: 920px) {
        .modal div .delete,
        .modal div .cancel {
          width: 70%;
          margin-bottom: 1rem; } }
      .modal div .delete button,
      .modal div .cancel button {
        width: 100%;
        height: 100%;
        font-size: 3rem;
        padding: 2rem;
        box-shadow: 1px 1px 3px black;
        border-radius: 1rem; }
    .modal div .delete button {
      background-color: #f04950;
      display: flex;
      align-items: center;
      color: white;
      transition: all 0.6s ease; }
      .modal div .delete button .icon {
        margin-left: auto;
        border-left: 1px solid #ac0e14;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        transition: all 0.6s ease; }
        .modal div .delete button .icon svg {
          width: 1.5rem;
          fill: #eee; }
      .modal div .delete button:hover {
        background-color: #ec1a22; }
        .modal div .delete button:hover .text {
          color: transparent; }
        .modal div .delete button:hover .icon {
          width: 15rem;
          border-left: none;
          transform: translateX(-7.5rem); }
      .modal div .delete button:active .icon svg {
        transform: scale(1.3); }
    .modal div .cancel button {
      transition: all 0.3s ease; }
      .modal div .cancel button:hover {
        background-color: #d8d8d8; }
      .modal div .cancel button:active {
        background-color: #b1b1b1;
        color: white; }

input#burger {
  display: none; }
  input#burger:checked + label .line {
    margin-left: 0.1rem; }
  input#burger:checked + label .line1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem); }
  input#burger:checked + label .line2 {
    opacity: 0; }
  input#burger:checked + label .line3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem); }
  input#burger:checked ~ nav {
    top: 0; }
    input#burger:checked ~ nav .logout {
      left: 0; }

.burger {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  display: none;
  flex-flow: column;
  justify-content: space-around;
  background-color: #F69094;
  padding: 1rem;
  border-radius: 50%;
  z-index: 101;
  transition: all 0.3s ease; }
  .burger:hover {
    background-color: #ffd5d6; }
    .burger:hover .line {
      background-color: #754547; }
  .burger .line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease, transform 0.5s ease-in-out, opacity 0.5s ease-in-out; }
  @media (max-widtH: 920px) {
    .burger {
      display: flex; } }

.profile {
  width: 100%; }
  .profile h3 {
    text-align: center;
    text-transform: uppercase;
    margin-left: 0; }
    .profile h3 span {
      text-transform: none; }
  .profile .profile-content {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 35% 65%; }
    @media (max-widtH: 920px) {
      .profile .profile-content {
        display: flex;
        flex-flow: column;
        padding-top: 0; } }
    .profile .profile-content .info {
      grid-column: 1/2; }
      @media (max-widtH: 920px) {
        .profile .profile-content .info {
          margin-bottom: 3rem; } }
      .profile .profile-content .info-content {
        width: fit-content;
        margin: 1rem auto;
        padding: 2.5rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        color: white;
        background-color: #756869; }
        @media (max-widtH: 920px) {
          .profile .profile-content .info-content {
            width: 90%;
            text-align: center; } }
        .profile .profile-content .info-content h4 {
          font-size: 2rem;
          border-bottom: 2px solid white;
          margin-bottom: 1rem; }
        .profile .profile-content .info-content div {
          margin-bottom: 1rem; }
          .profile .profile-content .info-content div .info-title {
            color: #bfb7b8;
            font-weight: 200; }
          .profile .profile-content .info-content div p:not(.info-title) {
            transition: all 0.3s ease; }
            .profile .profile-content .info-content div p:not(.info-title):hover {
              transform: scale(1.05); }
        .profile .profile-content .info-content .info-links {
          border-top: 1px solid #f1f1f1;
          margin-top: 1rem;
          padding-top: 0.5rem; }
    .profile .profile-content .form {
      grid-column: 2/3; }
      .profile .profile-content .form .input {
        width: 70%; }
        .profile .profile-content .form .input input::placeholder {
          font-size: 2rem; }
        @media (max-widtH: 920px) {
          .profile .profile-content .form .input {
            width: 90%; } }
      .profile .profile-content .form .btn {
        width: 100%; }
