@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* paleta de colores */
:root {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body,
html {
  height: 100%; }

body {
  background-color: #f1f1f1;
  font-size: 1.2em; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

header {
  grid-rows: 1/2;
  width: 100%;
  padding: 1em 2em;
  margin-bottom: 1em; }
  header h1 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-weight: 500;
    color: #F69094;
    text-shadow: 1px 1px 1px #754547; }
    header h1 span {
      font-size: 1.5rem;
      margin-top: 0.2em;
      color: #754547;
      word-spacing: 1px;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 300;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-gap: 2rem;
      align-items: center; }
      header h1 span:before, header h1 span:after {
        content: " ";
        display: block;
        border-bottom: 1px solid #b1b1b1;
        border-top: 1px solid #b1b1b1;
        height: 0.5rem;
        background-color: #f1f1f1; }

nav ul {
  list-style-type: none;
  width: 25%;
  background-color: #F7DBDC;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto; }
  nav ul li a {
    display: block;
    color: #000;
    font-size: 1.5em;
    padding: 1em 2em;
    text-decoration: none; }
    nav ul li a:hover:not(.active) {
      background-color: #754547;
      color: white; }
    nav ul li a[href="/logout"] {
      position: fixed;
      bottom: 0;
      width: 25%; }
  nav ul .folders {
    border-top: 2px solid #754547;
    border-bottom: 2px solid #754547;
    padding: 0.5em 0;
    background-color: #F69094;
    color: white; }
    nav ul .folders .create {
      cursor: auto;
      padding: 1em 2em; }
      nav ul .folders .create form {
        width: 100%;
        height: 2em; }
        nav ul .folders .create form input {
          width: 75%;
          border: none;
          outline: none;
          height: 100%;
          background-color: inherit;
          padding: 0.5em;
          font-size: inherit; }
          nav ul .folders .create form input:focus {
            background-color: #F7DBDC; }

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .box * {
    transition: all 0.5s; }
  .box h3 {
    width: 50%;
    text-align: left;
    margin-left: 3em;
    font-size: 2em; }
  .box form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .box form div.input {
      display: block;
      width: 50%; }
      .box form div.input input {
        border: 2px solid black;
        border-radius: 4em;
        padding: 0 3em;
        margin: 0.5em auto;
        width: 100%;
        align-self: center;
        height: 7em;
        text-align: center; }
        .box form div.input input::placeholder {
          font-size: 2.5em;
          color: lightgray;
          text-shadow: 1px 1px 1px #754547; }
        .box form div.input input:focus {
          outline: 0.5em solid #F7DBDC; }
          .box form div.input input:focus::placeholder {
            font-size: 2.2em;
            text-shadow: none; }
    .box form div.btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      margin: 1em 0; }
      .box form div.btn button {
        width: 50%;
        display: block;
        height: 5em;
        background-color: #ffd5d6;
        border: 0.2em solid #FFFFFF;
        border-radius: 1em;
        text-decoration: none;
        color: #FFFFFF;
        text-shadow: -1px 1px 2px #754547;
        text-align: center;
        font-size: 1.5em; }
        .box form div.btn button:hover {
          color: #000000;
          background-color: #FFFFFF;
          text-shadow: none;
          cursor: pointer;
          font-weight: 500; }

.box.alllinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .box.alllinks .link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 4px solid white;
    border-radius: 2em;
    background-color: #ffd5d6;
    margin: 1em;
    padding: 1em; }
    .box.alllinks .link:hover {
      border: 3px solid #ffd5d6;
      background-color: #f1f1f1; }
    .box.alllinks .link .title {
      width: 100%;
      text-decoration: none;
      color: #754547; }
      .box.alllinks .link .title h3 {
        width: 100%;
        font-weight: 500;
        text-align: center;
        margin: 0; }
      .box.alllinks .link .title:hover {
        color: #F69094; }
    .box.alllinks .link .date {
      color: #756869;
      margin-bottom: 0.5em; }
      .box.alllinks .link .date p span {
        display: none;
        position: relative;
        left: -5em;
        opacity: 0; }
      .box.alllinks .link .date p:hover span {
        display: inline;
        left: 0.5em;
        opacity: 1; }
    .box.alllinks .link .functions {
      width: 100%;
      border-top: 1px dashed #756869;
      padding-top: 0.5em;
      display: grid;
      grid-template-columns: 10% 70% 10%;
      grid-gap: 1em;
      text-decoration: none; }
      .box.alllinks .link .functions .edit {
        grid-column: 1/2;
        display: flex; }
        .box.alllinks .link .functions .edit i {
          color: #756869;
          font-size: 2em;
          margin: 0.25em; }
          .box.alllinks .link .functions .edit i:hover {
            color: #754547; }
      .box.alllinks .link .functions div.desc {
        grid-column: 2/3;
        text-align: center;
        margin: auto;
        padding: 0 1em;
        height: 3em;
        overflow-y: scroll; }
      .box.alllinks .link .functions .delete {
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end; }
        .box.alllinks .link .functions .delete i {
          color: #ff000066;
          font-size: 2em;
          margin: 0.25em; }
          .box.alllinks .link .functions .delete i:hover {
            color: rgba(255, 0, 0, 0.85); }
  .box.alllinks .nolinks {
    grid-column: 1/4;
    text-align: center;
    color: #756869; }
    .box.alllinks .nolinks h4 {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 1em; }
    .box.alllinks .nolinks a {
      font-size: 2em;
      color: #754547;
      background-color: #F7DBDC;
      padding: 0.5em 1em;
      border-radius: 1.2em;
      box-shadow: 0 5px 15px #756869;
      cursor: pointer; }
      .box.alllinks .nolinks a:hover {
        background-color: #F69094;
        box-shadow: 0 15px 20px #F7DBDC;
        color: #fff;
        transform: translateY(-20px); }

.main {
  margin-left: 25%;
  display: grid;
  grid-template-rows: 12rem auto;
  height: 100%; }

.box {
  width: 100%;
  display: flex; }

.folder {
  margin-right: auto;
  width: 30%;
  height: 80%;
  font-size: 1.5em;
  text-align: center; }
