{{#if ok }}
    <div class="container">
        {{ok}}
        <button>
            <span>&times;</span>
        </button>
    </div>
{{/if }}

{{#if fail }}
    <div class="container">
        {{fail}}
        <button>
            <span>&times;</span>
        </button>
    </div>
{{/if }}