{{!-- Vista de los mensajes de error/confirmación --}}

<div class="msg">
    {{#if ok }}
        <div class="msg-ok">
            <div class="msg-text">
                {{ok}}
                <span class="icon-check">
                    <i class="fa-solid fa-check fa-beat-fade"></i>
                </span>
            </div>
        </div>
    {{/if }}

    {{#if fail }}
        <div class="msg-fail">
            <div class="msg-text">
                {{fail}}
                <span class="icon-xmark">
                    <i class="fa-solid fa-xmark-large fa-beat-fade"></i>
                </span>
            </div>
        </div>
    {{/if }}
</div>