<nav>
    <ul>
        {{#if user }}
            <li><a href="/links/add">Nuevo link</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            {{#if folders }}
                <div class="folders">
                    {{#each folders }}
                        <li><a href="/links/{{id}}">{{nombre}}</a></li>
                    {{/each }}
                    <li><a class="create" href="#">
                        <form action="/links/folders" method="POST">
                            <input type="text" name="carpeta" placeholder="Nueva carpeta">
                            <button>Crear</button>
                        </form>
                    </a></li>
                </div>
            {{/if }}
        {{else }}
            <li><a href="/register">Registro</a></li>
            <li><a href="/login">Inicio de sesión</a></li>
        {{/if }}
    </ul>
</nav>