.cat{
    width: 100%;
    height: 20rem;
    margin: 1rem 0;

    .cat-links{
        overflow-y: hidden; 
        overflow-x: auto;
        white-space: nowrap;
        width: 75vw;

        @include response(md){
            width: 100vw;
        }
    }

    .inline{
        display: inline-block;
        width: 25rem;

        @import "../components/links/item";
    }
}