// Cabecera

header{
    width: 100%;
    padding: size(s) size(ml);
    margin-bottom: size(s);

    h1{
        text-align: center; 
        font-size: 5rem; 
        text-transform: uppercase; 
        letter-spacing: 1px;
        font-weight: width(medium);
        color: color(primary);
        text-shadow: 1px 1px 1px color(secondary);

        a{
            transition: all 0.2s ease-in-out;
            &:hover{ 
                font-size: 4.5rem;
                color:darken(color(prim-mod), 10%);
            }
        }

        span {
            font-size: size(m);
            margin-top: size(xs);
            color: color(secondary);
            word-spacing:1px; 
            letter-spacing:2px;
            text-transform: uppercase;
            font-weight:width(light);
      
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            grid-gap: size(ml);
            align-items: center;

            &:before,
            &:after {
                content: " ";
                display: block;
                border-bottom: 1px solid darken(color(aux1), 25%);
                border-top: 1px solid darken(color(aux1), 25%);
                height: size(xs);
                background-color: color(aux1);
            }
        }

        
    }
}