.msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .msg-ok,
    .msg-fail{
        &::before{
            content: " ";
            display: block;
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform: scaleX(0);

            animation: leftright 3.5s ease-in-out;
        }

        .msg-text{
            opacity: 0;
            z-index: -100;
            color: white;
            font-weight: 100;
            text-align: center;
            font-size: 8rem;
            animation: fadeinout 3.5s ease-in-out;

            @include response(md){ font-size: 5rem; }
        }
    }

    .msg-ok{
        &::before{
            background-color: color(msgok);
        }

        .icon-check{
            color: darken(color(msgok), 30%);
        }
    }

    .msg-fail{
        &::before{
            background-color: color(msgfail);
        }

        .icon-xmark{
            color: darken(color(msgfail), 30%);
        }
    }
}

@keyframes leftright{
    0%{
        transform: scaleX(0);
        transform-origin: left;
    }

    35%{
        transform: scaleX(1);
        transform-origin: left;
    }

    36%{
        transform-origin: right;
    }

    100%{
        transform: scaleX(0);
        transform-origin: right;
    }
}

@keyframes fadeinout{
    0%{
        opacity: 0;
        z-index: 100;
    }

    35%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}