nav{ 
    position: fixed;
    top:0;
    left:0;
    width: 25%;
    height: 100%;
    overflow: auto;
    z-index: 100;

    .burger{
        position: absolute;
    }
    
    ul {
        height: 90%;
        list-style-type: none;
        background-color: color(tertiary);
        overflow: scroll;
        
        li a,
        li div {
            display: block;
            color: #000;
            font-size: 1.5em;
            padding: 1em 2em;
            text-decoration: none;

            &:hover {
                background-color: color(secondary);
                color: white;
            }
        }

        li a.newlink{
            background-color: color(prim-mod);
            border-bottom: solid 2px color(secondary);
            box-shadow: 0 0 15px 5px white;
            font-weight: 600;

            &:hover{
                background-color: #000;
            }
        }

        li.title{
            display: none;
        }

        @import "../components/navbar/folders";
    }

    @import "../components/navbar/logout";

    @include response(md){
        width: 100vw;
        text-align: center;
        display:none;

        ul li.title{
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: color(secondary);
            
            h2{
                font-size: 3rem;
                letter-spacing:1px;
                font-weight:500;
                color:color(prim-mod);
                text-shadow: 1px 1px 1px color(primary);
            }
        }
    }
}