// Menú de navegación

nav{ 
    position: fixed;
    top:0;
    left:0;
    width: 25%;
    height: 100%;
    overflow: auto;
    z-index: 100;
    box-shadow: 0 0 30px -5px color(secondary);

    .burger{ position: absolute; }
    
    ul {
        height: 90%;
        list-style-type: none;
        background-color: color(tertiary);
        overflow: scroll;

        li{
            a,
            div{
                display: block;
                color: #000;
                font-size: size(ml);
                padding: size(ml) size(xl);
                text-decoration: none;
                transition: all 0.5s ease;
    
                &:hover { color: white; }

                &.newlink{
                    background: linear-gradient(to left, color(prim-mod) 50%, black 50%) right;
                    background-size: 200%;
                    border-bottom: solid 2px color(secondary);
                    box-shadow: 0 0 15px 5px white;
                    font-weight: width(semibold);
                    transition: all 0.5s ease;
        
                    &:hover{ background-position: left; }
                }
            }

            &.title{ display: none; }
        }

        & > li:not(.title){
            transition: all 0.5s ease;
            background: linear-gradient(to left, color(tertiary) 50%, color(secondary) 50%) right;
            background-size: 200%;

            &:hover{ background-position: left; }
        }

        @import "../components/navbar/folders";
    }

    @import "../components/navbar/logout";

    @include response(md){
        width: 100vw;
        text-align: center;
        top: -100vh;
        transition: all 0.8s ease;

        ul li.title{
            height: 8rem;
            @include flexbox($align:center, $justify:center);
            background-color: color(secondary);
            
            h2{
                font-size: size(xl);
                letter-spacing:1px;
                font-weight: width(medium);
                color:color(prim-mod);
                text-shadow: 1px 1px 1px color(primary);
            }
        }
    }
}