@import "./links/folder-title";

.alllinks{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @import "./link";

    @import "./links/no-links";

    @include response(md){
        display: flex;
        flex-flow: column;
    }
}