.link{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    border: 4px solid white; 
    border-radius: 2rem;
    background-color: color(prim-mod);
    margin: 1rem; 
    padding: 1rem;

    &:hover{
        border: 3px solid color(prim-mod); 
        background-color: color(aux1);
    }

    @import "./links/title";
    @import "./links/date";
    @import "./links/functions";
}