.alllinks{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3%;

    .link{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        border: 4px solid white; 
        border-radius: 2em;
        background-color: color(prim-mod);
        margin: 1em; 
        padding: 1em;

        &:hover{
            border: 3px solid color(prim-mod); 
            background-color: color(aux1);
        }

        .title{
            width: 100%;
            text-decoration: none;
            color: color(secondary);

            h3{
                width: 100%;
                text-align: center;
                margin: 0;
            }

            &:hover{
                color: color(primary);
                font-size: 1.2em;
            }
        }

        .date{
            color: color(aux2);
        }

        .functions{
            width:100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);

            text-decoration: none;

            .edit{
                display: flex;

                i{
                    color: color(aux2);
                    font-size: 2em;
                    margin: 0.25em;

                    & p{
                        font-size: 0.5em;
                        font-weight: 300;
                        color: color(aux2);
                        text-decoration: none;
                        display: none;
                    }
    
                    &:hover{
                        color:color(secondary);

                        & p{
                            display: inline;
                            text-decoration: none;
                        }
                    }
                }
            }

            .delete{
                display: flex;
                justify-content: flex-end;
    
                i{
                    color: color(quaternary);
                    font-size: 2em;
                    margin: 0.25em;
    
                    &:hover{
                        color:rgba(255, 0, 0, 0.85);
                    }
                }
            }
        }
    }
}