// Vista general de links

@import "./links/folder-title";

.alllinks{
    width: 100%;
    padding: size(s);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @import "./link";

    @import "./links/no-links";

    @include response(md){
        @include flexbox($direction: column);
    }
}