// Vista del perfil

.profile{
    width: 100%;

    h3{
        text-align: center;
        text-transform: uppercase;
        margin-left: 0;

        span{ text-transform: none;}
    }
    
    .profile-content{
        width: 100%;
        padding: size(ml);
        display: grid;
        grid-template-columns: 35% 65%;

        @include response(md){
            display: flex;
            flex-flow: column;
            padding-top: 0;
        }

        .info{
            grid-column: 1/2;

            @include response(md){ margin-bottom: size(xl); }

            &-content{
                width: fit-content;
                margin: size(s) auto;
                padding: size(l);
                border-radius: size(m);
                font-size: size(m);
                color: white;
                background-color: color(aux2);

                @include response(md){
                    width: 90%;
                    text-align: center;
                }

                h4{
                    font-size: size(ml);
                    border-bottom: 2px solid white;
                    margin-bottom: size(s);
                }

                div{
                    margin-bottom: size(s);

                    .info-title{
                        color: lighten(color(aux2), 30%);
                        font-weight: width(extralight);
                    }

                    p:not(.info-title){
                        transition: all 0.3s ease;
                        &:hover{ transform: scale(1.05); }
                    }
                }

                .info-links{
                    border-top: 1px solid color(aux1);
                    margin-top: size(s);
                    padding-top: size(xs);
                }
            }
        }

        .form{
            grid-column: 2/3;

            .input{
                width: 70%;
                & input::placeholder{ font-size: size(ml); }
                @include response(md){ width: 90%; }
            }

            .btn{ width: 100%; }
        }
    }
}