<div class="box addlink">
    <h3>Añade un link</h3>
    <form action="/links/add" method="POST">
        <div class="input">
            <input type="url" name="enlace" placeholder="Enlace" autofocus>
        </div>

        <div class="input">
            <input type="text" name="titulo" placeholder="Título">
        </div>

        <div class="btn">
            <button>Guardar</button>
        </div>
    </form>
</div>