:root{
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html{
    height: 100%;
}

body{
    background-color: color(aux1);
    font-size: 1.2em;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}