:root{
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html{
    height: 100%;
    width: 100vw;
}

body{
    background-color: color(aux1);
    font-size: 1.2em;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

.main{
    margin-left: 25%;
    display: grid;
    grid-template-rows: 12rem auto;
    height: 100%;
    overflow-x: hidden;


    @include response(md){
        margin-left: 0;
    }
}

.box{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    & *{
        transition: all 0.5s;
    }
}