<div class="box forgot">
    <h3>Recuperación de contraseña</h3>
    <form action="/forgot" method="POST">
        <div class="input">
            <input type="email" name="email" placeholder="Email" required autofocus>
        </div>

        <div class="btn">
            <button>
                <span>Enviar correo</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>