<div class="box login">
    <h3>Iniciar Sesión
        {{#if fail }}
            <span class="msg-side fail">
                &nbsp;
                <span class="icon-exclamation">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </span>
                {{fail}}
            </span>
        {{/if}}
    </h3>
    <form action="/login" method="POST">
        <div class="input">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="input">
            <input type="password" name="password" placeholder="Contraseña">
        </div>

        <div class="btn">
            <button>
                <span>Log In</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>