<div class="box login">
    <h3>Iniciar Sesión</h3>
    <form action="/login" method="POST">
        <div class="input">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="input">
            <input type="password" name="password" placeholder="Contraseña">
        </div>

        <div class="btn">
            <button>Log In</button>
        </div>
    </form>
</div>