<div class="box profile">
    <h3>Bienvenid@ a tu perfil, {{user.nombre}}</h3>

    {{!-- <form action="/users/chpass" method="POST">
        <div class="input">
            <input type="password" name="password" placeholder="Cambiar contraseña">
        </div>
    </form>

    <form action="/users/chname" method="POST">
        <div class="input">
            <input type="text" name="nombre" placeholder="Cambiar nombre" autofocus>
        </div>
    </form> --}}
</div>