<div class="box register"> 
    <h3>Registro</h3>
    <form action="/register" method="POST">
        <div class="input">
            <input type="text" name="nombre" placeholder="Nombre" autofocus>
        </div>

        <div class="input">
            <input type="email" name="email" placeholder="Email">
        </div>

        <div class="input">
            <input type="password" name="password" placeholder="Contraseña">
        </div>

        <div class="btn">
            <button>Registrar</button>
        </div>
    </form>
</div>