<div class="box register"> 
    <h3>Registro
        {{#if fail }}
            <span class="msg-side fail">
                &nbsp;
                <span class="icon-exclamation">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </span>
                {{fail}}
            </span>
        {{/if}}
        {{#if ok }}
            <span class="msg-side ok">
                &nbsp;
                <span class="icon-check">
                    <i class="fa-solid fa-check"></i>
                </span>
                {{ok}}
            </span>
        {{/if}}
    </h3>
    <form action="/register" method="POST">
        <div class="input">
            <input type="text" name="nombre" placeholder="Nombre *" required autofocus
                {{#if data}}
                    value={{data.nombre}}
                {{/if}}
            >
        </div>

        <div class="input">
            <input type="email" name="email" placeholder="Email *" required
                {{#if data}}
                    value={{data.email}}
                {{/if}}
            >
        </div>

        <div class="input">
            <input type="password" name="password" placeholder="Contraseña *" required>
        </div>

        <div class="input">
            <input type="password" name="password2" placeholder="Repite la contraseña *" required>
        </div>

        <div class="btn">
            <button>
                <span>Registrar</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>