<div class="box repassword">
    <h3>Cambio de contrase単a</h3>
    <form action="/repassword" method="POST">
        <div class="input">
            <input type="password" name="password" placeholder="Nueva contrase単a" required autofocus>
        </div>

        <div class="input">
            <input type="password" name="password2" placeholder="Repite la contrase単a" required>
        </div>

        <div class="btn">
            <button>
                <span>Cambiar contrase単a</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>